@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-red: #fb6470;
  --color-dark: #353541;
  --color-white: #fff;
  --color-blue: #0093b5;

  --font-size-text: 16px;
  --font-size-title: 24px;
  --font-size-heading: 32px;
  --font-size-main-heading: 48px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-text);
}

input {
  border: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-content {
  display: flex;
  max-width: 100vw;
}

.sidebar {
  display: none;
  width: 16rem;
  background-color: var(--color-dark);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 0.5rem;
  z-index: 10;
  overflow-y: auto;
}

.sidebar-img {
  background: no-repeat center/100% url("/public/sidebar.jpg");
  height: 12rem;
}

.sidebar-nav {
  margin-top: 1rem;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
  margin: 0;
}

.sidebar-nav-link {
  color: var(--color-white);
  font-size: var(--font-size-title);
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25rem;
}

.sidebar-nav-link.active,
.sidebar-nav-link:hover {
  color: var(--color-red);
  border-bottom-color: var(--color-red);
}

main {
  width: 100vw;
}

header {
  width: auto;
  height: 12rem;
  background: no-repeat center/100% url("/public/desk.jpg");
  margin-bottom: 4rem;
}

.nav-btn {
  position: relative;
  top: 20;
  background-color: transparent;
  border: none;

  color: var(--color-red);
}

.nav-btn:hover {
  cursor: pointer;
}

.header-text {
  margin: 0 auto;
  max-width: 64rem;
  text-align: center;
  color: var(--color-white);
}

.heading {
  font-size: var(--font-size-main-heading);
  font-weight: 400;
}

#content {
  margin: 0 auto 2rem;
  max-width: 90vw;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-item a {
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav-item a.nav-item-active {
  border-bottom-color: var(--color-red);
}

.clients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding: 0 2rem;
}

.client-card {
  height: 18rem;
  border: 1px solid var(--color-red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 4rem;
}

.client-name {
  margin-top: 1rem;
}

.client-avatar {
  border-radius: 50%;
}

.feedback {
  justify-content: center;
  text-align: center;
}

.updates-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
  margin-bottom: 2rem;
  padding: 2rem 6rem;
  background-color: rgb(208, 208, 208);
}

.updates-form-heading {
  font-size: var(--font-size-title);
  text-transform: uppercase;
}

.updates-form-label {
  text-transform: uppercase;
}

.updates-form-input {
  max-width: 60%;
}

.error {
  color: red;
}

.submit-btn {
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  max-width: 8rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media (width < 64rem) {
  .clients-list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (width < 40rem) {
  .clients-list {
    grid-template-columns: 1fr;
    gap: 0.25rem;
  }

  .updates-form {
    margin: 0;
    padding: 1rem 2rem;
  }

  #content {
    max-width: 100vw;
  }

  .nav {
    width: 100vw;
  }
}
